
body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
}
.mainsection{
    padding: 20px, 20px;

}
.image-container{
 size: 500px;

    display: block;
    background-repeat: no-repeat;

}
h1{
   margin-bottom: 0;
    font-family: 'Prata', serif; font-size: 64px;
}
h3{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;  
}
a {
    width: 600;
    font-family: 'Prata', serif; 
}
h6{
    padding: 22px;
    margin-bottom: 0px;
    margin-top:56px ;
    color: rgb(253, 253, 253);
    border-style: solid;
    border-radius: 60px;
    background: linear-gradient(#65bdff, #9eedff);
} 
ul{
    padding:0;
}

a{
    padding:6px 22px;
    border-bottom: 1px #dfdfdf;
    text-decoration:none ;
    color: #65bdff;
}
